#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.8rem;
}

#cardsContainer .card:nth-child(4n) {
  background-color: #dd4680;
}

#cardsContainer .card:nth-child(4n + 1) {
  background-color: #dd4680;
}

@media screen and (min-width: 870px) {
  #cardsContainer {
    box-sizing: border-box;
    padding: 30px;
    column-gap: 0.3%;
    row-gap: 3px;
  }
}

@media screen and (min-width: 1000px) {
  #cardsContainer {
    font-size: 1rem;
  }

  body {
    font-size: 1.3rem;
  }
}
